BOT_TOKEN=
BOT_USERNAME=mgol3bot
REQUIRED_CHANNEL=@LMeansLyceum3
REQUIRED_CHANNEL_URL=https://t.me/LMeansLyceum3
BOT_NAME=К — значит конкурс
CHANNEL_NAME=Л — значит Лицей 🤟
DEVELOPER_URL=https://t.me/daich
ADMIN_IDS=123456789,987654321
DATABASE_URL=sqlite+aiosqlite:///bot.db
MAX_PHOTO_ATTACHMENTS=10
MAX_DOCUMENT_ATTACHMENTS=1
