BOT_TOKEN=
BOT_USERNAME=mgol3bot
REQUIRED_CHANNEL=@mgol3
REQUIRED_CHANNEL_URL=https://t.me/mgol3
DIRECT_URL=https://t.me/mgol3?direct
BOT_NAME=МГОЛ№3 ФанБот
CHANNEL_NAME=МГОЛ№3 ФанЛаб
DEVELOPER_URL=https://t.me/daich
ADMIN_IDS=7878539493
DATABASE_URL=sqlite+aiosqlite:///bot.db
MAX_PHOTO_ATTACHMENTS=10
MAX_DOCUMENT_ATTACHMENTS=1
